<div class="col-sm-10 text-left" id="column1" style="background-color: #f8f9fa;">
  <div id="bugFields" class="column form-group">
    <label><b>Bug Name <span style="color:red">* </span></b></label>
    <input class="form-control" type="text" placeholder="" id='bugname' [(ngModel)]=bug.name required><br>
    <br>
    <label><b>Bug Status <span style="color:red">*</span></b></label>
    <select class="form-control" id="status" [(ngModel)]=bug.status>
      <option value='NEW'>NEW</option>
      <option value='ASSIGNED'>ASSIGNED</option>
      <option value='OPEN'>OPEN</option>
      <option value='FIXED'>FIXED</option>
      <option value='PENDING_RETEST'>PENDING_RETEST</option>
      <option value='RETEST'>RETEST</option>
      <option value='REOPEN'>REOPEN</option>
      <option value='VERIFIED'>VERIFIED</option>
      <option value='CLOSED'>CLOSED</option>
      <option value='REJECTED'>REJECTED</option>
      <option value='DUPLICATED'>DUPLICATE</option>
      <option value='DEFERRED'>DEFERRED</option>
      <option value='NOT_A_BUG'>NOT_A_BUG</option>
    </select><br>
    <br>
    <label>Bug Priority <span style="color:red">*</span></label>
    <select class="form-control" id='bugpriority' [(ngModel)]=bug.priority>
      <option value='HIGH'>HIGH</option>
      <option value='MEDIUM'>MEDIUM</option>
      <option value='LOW'>LOW</option>
    </select><br>
    <label>ETA</label>
    <input class="form-control" id='date' type="date" [(ngModel)]=bug.etaString><br>
    <label><b>Module <span style="color:red">*</span></b></label>
    <input class="form-control" type="text" id='module' placeholder="" [(ngModel)]=bug.module>
    <br>
    <label><b>Build Version <span style="color:red">*</span></b></label>
    <input [(ngModel)]=bug.buildVersion class="form-control" type="text" id='buildversion'
      placeholder="Enter Build Version" required>
    <label><b>Type</b></label>
    <select class="form-control" id='type' [(ngModel)]=bug.type>
      <option value='LOGICAL'>LOGICAL</option>
      <option value='SYNTAX'>SYNTAX</option>
      <option value='GUI'>GUI</option>
      <option value='API'>API</option>
      <option value='RUNTIME'>RUNTIME</option>
    </select>
    <br>
  </div>
  <div class="column form-group" id="column2" style="background-color: #f8f9fa;">
    <label><b>Severity <span style="color:red">*</span></b></label>
    <select class="form-control" id='severity' [(ngModel)]=bug.severity>
      <option value='LOW'>LOW</option>
      <option value='MINOR'>MINOR</option>
      <option value='MAJOR'>MAJOR</option>
      <option value='CRITICAL'>CRITICAL</option>
      <option value='BLOCKER'>BLOCKER</option>
    </select>
    <br>
    <label><b>Project ID <span style="color:red"> * </span></b></label>
    <input style="margin-bottom: 0%;" class="form-control" type="text" placeholder="" [(ngModel)]=bug.projectId>
    <br>
    <label><b>Developer ID</b></label>
    <input class="form-control" type="text" id='developerid' placeholder="" [(ngModel)]=bug.developerId>
    <br>
    <label><b>Tester ID</b></label>
    <input class="form-control" type="text" id='testerid' placeholder="" [(ngModel)]=bug.testerId>
    <br>
    <label><b>Synopsis <span style="color:red">*</span></b></label>
    <textarea class="form-control" name="" id="synopsis" cols="30" rows="2" [(ngModel)]=bug.synopsis></textarea>
    <br>
    <label><b>Description <span style="color:red">*</span></b></label>
    <textarea class="form-control" name="" id="description" cols="30" rows="4" [(ngModel)]=bug.description></textarea>
  </div>
</div>
<div id='buttonDiv' style="background-color: #f8f9fb;">
  <button id='buttonSave' style="margin-top: 2%;" class="submitButton" (click)='checkFunction()'>Save</button>
</div>
<br>
