<div class="container-fluid text-center" style="background-color: #f8f9fa;">
  <div class="row content">
    <div style="background-color: #bfcee0;padding-bottom: 1%;padding-top: 1%;">
      <app-sidenav></app-sidenav>
    </div>
    <div id='search' class="col-sm-12 bg-light text-dark" style="background-color:#f8f9fa">
      <div class="container">
        <br>
        <div class="row justify-content-center">
          <div class="col-8 col-md-12 col-lg-12">
            <div class="card-body row no-gutters align-items-center">
              <!--end of col-->
              <div class="form-inline">
                <input [(ngModel)]=bug.name class="form-control form-control-lg form-control-borderless" type="search"
                  placeholder="Enter Bug Name">
                <span class="col-1 col-md-1 col-lg-1"> </span>
                <label> </label>
                <label> </label>
                <select placeholder=" ddd" style="margin: 10px;" class="form-control" id="status"
                  [(ngModel)]=bug.status>
                  <option value=''>SELECT STATUS</option>
                  <option value='NEW'>NEW</option>
                  <option value='ASSIGNED'>ASSIGNED</option>
                  <option value='OPEN'>OPEN</option>
                  <option value='FIXED'>FIXED</option>
                  <option value='PENDING_RETEST'>PENDING_RETEST</option>
                  <option value='RETEST'>RETEST</option>
                  <option value='REOPEN'>REOPEN</option>
                  <option value='VERIFIED'>VERIFIED</option>
                  <option value='CLOSED'>CLOSED</option>
                  <option value='REJECTED'>REJECTED</option>
                  <option value='DUPLICATED'>DUPLICATE</option>
                  <option value='DEFERRED'>DEFERRED</option>
                  <option value='NOT_A_BUG'>NOT_A_BUG</option>
                </select>
                <button style="margin: 10px;" (click)='getBug(bug.name,bug.status)' class="btn btn-lg btn-success">
                  Search</button><br><br>
              </div>
              <table class="table table-bordered">
                <thead style="text-align-last: center;">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">STATUS</th>
                    <th scope="col">TYPE</th>
                    <th scope="col" s>ETA</th>
                    <th scope="col">SEVERITY</th>
                    <th scope="col">Project ID</th>
                    <th scope="col">Synopsis</th>
                    <th scope='col'>Description</th>
                    <th scope='col'>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let bug of bugArray; index as i'>
                    <td>{{bug.name}}</td>
                    <td>{{bug.status}}</td>
                    <td>{{bug.type}}</td>
                    <td>{{bug.eta | date}}</td>
                    <td>{{bug.severity}}</td>
                    <td>{{bug.projectId}}</td>
                    <td *ngIf="bug.synopsis.length<15"> {{bug.synopsis}}</td>
                    <td *ngIf="!(bug.synopsis.length<15)"> {{bug.synopsis | slice:0:15}}<sub><button
                          class="btn btn-link btn-xs" (click)=showSynopsis(bug.synopsis)>Read More</button></sub></td>
                    <td *ngIf="bug.description.length<15"> {{bug.description}}</td>
                    <td *ngIf="!(bug.description.length<15)"> {{bug.description | slice:0:15}}<sub><button
                          class="btn btn-link btn-xs" (click)=showDescription(bug.description)>Read More</button></sub>
                    </td>
                    <td><button style="margin: 0;padding: 0;height: 0px;inline-size: 0%;"
                        (click)='deleteBug(bug.id,bug.name)' onMouseOver="this.style.color='#FF0000'"
                        onMouseOut="this.style.color='#337ab7'" type="button" class="btn btn-link btn-sm"> <span
                          class="glyphicon glyphicon-trash"></span> Delete </button></td>
                  </tr>
                </tbody>
              </table>
              <div id='showmore'>
                <span style="display:none" class="btn btn-link btn-lg" data-toggle="modal" data-target="#myModal"
                  id='synopsisButton'>...</span>

                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Synopsis</h4>
                      </div>
                      <div class="modal-body" id='showSynopsis'>
                        <p></p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>


                <!-- Modal -->
                <div>
                  <button style="display:none" class="btn btn-link btn-lg" data-toggle="modal"
                    data-target="#myModalDescription" id='temp'>...</button>
                </div>
                <div class="modal fade" id="myModalDescription" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Description</h4>
                      </div>
                      <div class="modal-body" id='showDescription'>
                        <p></p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
