

 <input [(ngModel)]=bug.name id='bugId' class="form-control form-control-lg form-control-borderless"
                                        type="search" placeholder="Enter Bug Name">
                                        <div class="col-auto">
<button (click)='getBugs(bug.name)' class="btn btn-lg btn-success" > Search</button></div>
<table class='table'>
  <thead><td>name</td><td>id</td></thead>
  <tbody>
    <tr *ngFor='let bug of bugArray; index as i'>
      <td>{{bug.name}}</td>
      <td>{{bug.id}}</td>
      <td>{{bug.type}}</td>
      <td>{{bug.eta}}</td>
      <td>{{bug.severity}}</td>
      <td>{{bug.projectId}}</td>
      <td>{{bug.synopsis}}</td>

    </tr>
  </tbody>

</table>
